* {
  text-decoration: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li, ol {
  padding: 0;
  margin: 0;
  text-decoration: none; }

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

main {
  flex: 1;
  /*para separar el header del footer*/
  padding: 3em 0; }

.menu-md {
  padding: 0.3em 2em; }

header {
  position: relative;
  width: 100%; }

nav {
  color: #F9F9F9;
  position: absolute;
  top: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300; }
  nav .logo {
    font-family: "Caveat", cursive, sans-serif;
    font-size: 1.6em;
    color: #ca2d26; }
  nav .menu {
    color: #F9F9F9;
    font-size: 1.1em;
    transition: all 0.5s; }
  nav .menu:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  nav .menu-link {
    padding: 1em; }
  nav .menu-link:hover {
    transform: scale(1.07); }
  nav .menu-link:active {
    transform: scale(1.2); }
  nav .menu-link--active {
    border: 1px solid #CECECE;
    border-radius: 50px;
    padding: 0.4em 1em; }

.hero {
  background: url("../img/microphone_1.jpg") no-repeat fixed center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF; }
  .hero .logo-img {
    background: url("../img/icon-lem-md.png") no-repeat center center;
    height: 220px;
    font-size: 50px; }
  .hero .hero::before {
    content: "";
    height: 100%;
    width: 100%; }
  .hero .hero-info {
    padding: 0.3em;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: #F9F9F9; }
  .hero .hero-titulo {
    line-height: 1.5;
    font-size: 2.8em;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 300; }
  .hero .hero-slogan {
    line-height: 2;
    font-size: 1em;
    font-style: italic; }
  .hero .btn-inicio {
    border: 1px solid #FFF;
    border-radius: 50px;
    padding: 0.4em 1.5em;
    font-size: 1.2em;
    position: relative;
    top: 30px; }
  .hero .btn-inicio:hover {
    background: red;
    border: 1px solid red; }

@media only screen and (max-width: 576px) {
  body {
    background: red; }
  .menu-md {
    display: none; }
  .logo-img {
    display: none; } }

@media only screen and (min-width: 577px) and (max-width: 1200px) {
  body {
    background: violet; }
  .menu-sm {
    display: none; }
  .menu-md {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
  .logo {
    flex: 1 0 auto;
    font-weight: 600;
    letter-spacing: 2px; }
  .logo-img {
    display: block; } }

@media only screen and (min-width: 1201px) {
  body {
    background: #CECECE; }
  .menu-sm {
    display: none; }
  .menu-md {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
  .logo {
    flex: 1 0 auto;
    font-weight: 600;
    letter-spacing: 2px; }
  .logo-img {
    display: block; } }
