// TIPOGRAFIA
$fontPoppins:"Poppins", sans-serif;
$fontRoboto:"Roboto", sans-serif;
$fontOswald:"Oswald", sans-serif;
$fontCaveat:"Caveat", cursive, sans-serif;
// FONT WEIGHT
$styleLight:300;
$styleRegular:400;
$styleItalic:italic;

$styleBold:700;



//COLORES
$colorRojoFuerte:#bf2c38;
$colorRojoTenue:#8c1c31;
$colorGris:#161616;
$color-bg-light:#F9F9F9;
$color-txt-light:#F9F9F9;


//CAJAS

